---
import Layout from "../layouts/Layout.astro";
import { Navigation } from "../components/Navigation";
import { Hero } from "../components/Hero";
import { Services } from "../components/Services";
import { Gallery } from "../components/Gallery";
import { Process } from "../components/Process";
import { Contact } from "../components/Contact";
import { Footer } from "../components/Footer";
---

<Layout title="Bar None Coatings | Veteran Owned & Operated">
  <Navigation client:load />
  <main>
    <Hero client:load />
    <Gallery />
    <Services />
    <Process />
    <Contact client:load />
  </main>
  <Footer />
</Layout>
